h1{
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;  
}
h2{
    font-family:'Dancing Script', cursive; 
    font-size: 25px;
}
body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: 'Raleway', sans-serif; 
  }